In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(20,10.5,'Naresh It',True)

20 10.5 Naresh It True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [6]:
print(10),print(20) #Don't write print in horizontal way

#None means no value

10
20

(None, None)

In [9]:
a=10
b=20
c=a+b
c
#The addtion of 10 and 20 is 30 
print("The addtion of 10 and 20 is 30 ")
print("The addtion of a and b is c") 
print("The addition of",a,"and",b,"is",c)

The addtion of 10 and 20 is 30
The addtion of a and b is c
The addition of 10 and 20 is 30

**Format method**

In [10]:
print("The addtion of {} and {} is {}".format(a,b,c))

The addtion of 10 and 20 is 30

In [16]:
name='python'
age=10
city='hyderabad'
print("My name is {}, Im {} years old Im from {}".format(name,age,city))

My name is python, Im 10 years old Im from hyderabad

In [17]:
emp_name='Hema'
emp_role='software developer'
company='Google'
print('{} is working as a {} in {}'.format(emp_name,emp_role,company))

Hema is working as a software developer in Google

**f sting method**

In [19]:
a=10
b=20
c=a+b
print(f"The addtion of {a} and {b} is {c}")

The addtion of 10 and 20 is 30

In [20]:
name='python'
age=10
city='hyderabad'
print(f"My name is {name}, Im {age} years old Im from {city}")

My name is python, Im 10 years old Im from hyderabad

In [21]:
emp_name='Hema'
emp_role='software developer'
company='Google'
print(f'{emp_name} is working as a {emp_role} in {company}')

Hema is working as a software developer in Google

In [3]:
breath=10
height=5
area=(1/2)*breath*height
print(f"The area of traingle with {breath} and {height} is: {area}")

The area of traingle with 10 and 5 is: 25.0

In [ ]:
# Teka the bii_amt =1000
# take the tip_percentage =10
# Calculate tip_amt
# Calculate the total bill
# Print the total bill

In [10]:
# My approach
bill_amt=1000
tip_per=10*bill_amt/100
total_bill=bill_amt+tip_per
print(f"The total bill is:{total_bill}")

The total bill is:1100.0

In [11]:
# Sir Approach
bill_amount=1000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount
print(f"The total bill is :{total_bill}")

The total bill is :1100.0

In [12]:
print(10,20)

10 20

In [13]:
# 10 20 Output should be like this
# for this we use end operator

$end$

- Combining multiple print statements in a single line

In [18]:
print(10,end=' ')
print(20)

10python  20

In [20]:
print(10,end=' ,')
print(20,end=',')
print(30)

10 ,20,30

In [21]:
print(10,20,30)

# 10 & 20 & 30

10 20 30

$sep$

- Seperate the multiple values in a single print statement

In [23]:
print(10,20,30,sep=' & ')

10 & 20 & 30

In [25]:
print(10,20,30,sep='------>')

10------>20------>30

In [26]:
print(f"The addition of {5} and {3} is {5+3}.")

The addition of 5 and 3 is 8.

In [27]:
print("The addition of 5 and 3 is 8",'.')

The addition of 5 and 3 is 8 .

In [28]:
print("The addition of 5 and 3 is 8",'.',sep='')
#when we use seperator we can get the '.' after the 8

The addition of 5 and 3 is 8.