In [3]:
n1=100

In [4]:
n1

100

In [5]:
# 15 days our main goal 
# to avoid the syntax error
import os
os.getcwd()

'C:\\Users\\harik\\OneDrive\\Documents\\Nareshit trainings\\Python'

1) mistakes are very common
2) avoid the syntax error
3) You will think about logic
4) 1min=== 1hour
5) In starting you will not get the logic imediately

In [ ]:
- integer data type   int

- float data type    float

**Type casting**

- Convert one data type to another data type is called type casting

- which means we want to convert 

      - int data type to all other(float,str,bool) data types

      - float data type to all other(int,str,bool) data types

      - str data type to all other(int,float,bool) data types

      - bool data type to all other(int,float,str) data types

**Integer to other data types**

$int-float$

In [10]:
num=100
type(num)

int

In [12]:
float_num=float(num)
type(float_num)

float

In [15]:
str_num=str(num)
str_num

'100'

In [16]:
type(str_num)

str

In [17]:
bool_num=bool(num)
bool_num

True

In [19]:
float(200),str(200),bool(200)

(200.0, '200', True)

In [20]:
float(-200),str(-200),bool(-200)

(-200.0, '-200', True)

In [21]:
# When integer of boolean become False
bool(0)

False

**Note**

- Ingtger=0 then only boolean conversion becomes False

- Otherwise for any positive or any negative number becomes True

**Float to another data type**

In [25]:
int(200.5),str(200.5),bool(200.5)

(200, '200.5', True)

In [26]:
int(200.5),str(200.5),bool(00.0)

(200, '200.5', False)

**String to another datatype**

In [27]:
# case-1
str='apple'
#case-2
str1='10'
#case-3
str2='10.8'

In [28]:
int('apple')

ValueError: invalid literal for int() with base 10: 'apple'

In [29]:
float('apple)

SyntaxError: unterminated string literal (detected at line 1) (1064110945.py, line 1)

In [30]:
bool('apple')

True

In [31]:
int('10'),float('10'),bool('10')

(10, 10.0, True)

In [33]:
int('10.5'),float('10.5'),bool('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [ ]:
int('10') #p
int('10.5') #F
float('10') #p
float('10.5') #p

- Float is the boss

- Float of any value either it is in integer in string format 

- or float in strings format will works

- But Integer will works only for integer in strinf format

- Integer type casting will fail for float in string format

In [38]:
bool('0'),bool(0)

# '0' ,means string there is something so it is true

(True, False)

In [36]:
bool(''),bool(0)

(False, False)

- Empty string of boolean gives False

- False means nothing either 0 or empty string

In [39]:
# boolean to other data types

int(True)

1

In [43]:
float(True)

1.0

In [44]:
str(True)

TypeError: 'str' object is not callable

In [45]:
int(False)
float(False)
str(False) # sometimes it happens ,when u open new notebook u can get the answer as 'False'

TypeError: 'str' object is not callable

In [ ]:
###############Int to other #############
float(100)
str(100)
bool(100)
############## Float to other ###############
int(100.5)
str(100.5)
bool(100.5)
################# Special case ################
bool(0)
################## Str to other ##############
int('ant') #error
float('ant')#error
bool('ant') #True

int('10') #10
float('10')#10.0
bool('10') #True

int('10.5') # error
float('10.5') #10.5
bool('10.5')#True

bool('') #False

################## bool to other ################

int(True)
float(True)
str(True)

int(False)
float(False)
str(False)