## Variables
- variables are used to store the values

- and values can be changed

In [2]:
number=100 # value 100 stored in a variable name called "number"
number     # shift+enter

100

In [4]:
number=200 # valuse 200 stored in a variable name called "number"
number     # shift+enter

200

**Note**
  
- Python is step by step mprocess

- Python will take last output as the latest value

- In the above code we are using same variable: number

- first time 100

- second time 200

- latest value 200

In [5]:
NUMBER=200
NUMBER

200

In [6]:
number,NUMBER

(200, 200)

In [8]:
NUMber=300
NUMber

300

In [10]:
number123=400
number123

400

In [11]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

- We need to know about error first and then only we create crct solutions

In [12]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [13]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [14]:
number_one=900
number_one

900

In [16]:
_=1000 # underscore works as a variable
_

1000

In [17]:
n1=100,200
n1

(100, 200)

In [18]:
n2,n3=200 # one mango can't share by two persons
n2,n3

TypeError: cannot unpack non-iterable int object

In [21]:
n4,n5=100,200
n4
n5 # if u write like this we get only latest varaible value

100

200

In [22]:
print(n4)
print(n5)

100
200

In [ ]:
number =200 #Works
NUMBER=300  #Works
NUMber=400  #Works
number123=500  #Works
123number=600    # Not works
numb%er=700      # Not works
number one =800  # Not works
number_one=900  #Works
_=1000          #Works
n1=100,200      #Works
n2,n3=300       # Not works
n1,n2=100,200    #Works

In [24]:
n1,_=100,200
n1,_

(100, 200)

In [23]:
if=100

SyntaxError: invalid syntax (586179600.py, line 1)

In [ ]:
if
while
else
elif
for
True
False

- Python variables are case sensitive

- Variables can be declared as capital letters

- Variables can be declared as small letters

- Variables can not start with Numbers(Perfix)

- Numbers can be suffix of the variable

- Variables can not have special characters except **underscore**

- Variables does not have space between the names

- Only underscore is possible

- Keywords can not be used as variables

- Two values can be assigned to a one variable

- One value can not be assigned to two variables

- All black color words are variables

# How to convert python notebook to pdf

- First download as html Page
  
     - Go to file
       
           - Go to save and export Notebook as
       
                - Click on HTML
       
- Then HTML page will download

- Open HTML page apply CTRL+P

- Check printer option should be save as pdf

- Then in the down click on save option